In [1]:
import pandas as pd

In [19]:
routes = pd.read_csv('assets/routes.csv')
routes.head()

,Id,routeId,serviceId,tripId,tripHeadsign,shapeId
0,8303,10,1,NORMAL_10_Swargate To Keshavnagar_Up-0545_0,Swargate To Keshavnagar,3380
1,8304,10,1,NORMAL_10_Keshavnagar To Swargate_Down-0640_0,Keshavnagar To Swargate,3381
2,8305,10,1,NORMAL_10_Swargate To Keshavnagar_Up-0740_0,Swargate To Keshavnagar,3380
3,8306,10,1,NORMAL_10_Keshavnagar To Swargate_Down-0840_0,Keshavnagar To Swargate,3381
4,8307,10,1,NORMAL_10_Swargate To Keshavnagar_Up-0945_0,Swargate To Keshavnagar,3380

In [20]:
routes = routes.drop(['serviceId'], axis=1)
routes.head()

,Id,routeId,tripId,tripHeadsign,shapeId
0,8303,10,NORMAL_10_Swargate To Keshavnagar_Up-0545_0,Swargate To Keshavnagar,3380
1,8304,10,NORMAL_10_Keshavnagar To Swargate_Down-0640_0,Keshavnagar To Swargate,3381
2,8305,10,NORMAL_10_Swargate To Keshavnagar_Up-0740_0,Swargate To Keshavnagar,3380
3,8306,10,NORMAL_10_Keshavnagar To Swargate_Down-0840_0,Keshavnagar To Swargate,3381
4,8307,10,NORMAL_10_Swargate To Keshavnagar_Up-0945_0,Swargate To Keshavnagar,3380

In [27]:
routeGroups = routes.groupby('routeId').first()
routeGroups

,Id,tripId,tripHeadsign,shapeId
routeId,,,,
10,8303,NORMAL_10_Swargate To Keshavnagar_Up-0545_0,Swargate To Keshavnagar,3380
100_18,1174,NORMAL_100_Ma Na Pa to Hinjawadi Maan Phase 3_...,Ma Na Pa to Hinjawadi Maan Phase 3,4475
101,20137,NORMAL_101_Kothrud Depot To Kondhwa Kh_Up-0600_0,Kothrud Depot To Kondhwa Kh,4953
102,20173,NORMAL_102_Kothrud Depot To Lohgaon_Up-0520_0,Kothrud Depot To Lohgaon,3392
103,11254,NORMAL_103_Kothrud Depot To Katraj_Down-0545_0,Kothrud Depot To Katraj,3479
...,...,...,...,...
VJR2_49,8432,NORMAL_VJR2_Warje Malwadi To Kesnand Phata_Up-...,Warje Malwadi To Kesnand Phata,3357
VJR3,919,NORMAL_VJR3_Hadapsar Gadital To Kothrud Depot_...,Hadapsar Gadital To Kothrud Depot,3430
VJR4,1257,NORMAL_VJR4_Kothrud Depot To Vishrantwadi_Up-1...,Kothrud Depot To Vishrantwadi,3302
VJR5,9714,NORMAL_VJR5_Ma Na Pa To Mukai Chowk_Up-0610_0,Ma Na Pa To Mukai Chowk,3290
VJR6,11763,NORMAL_VJR6_Bhosari To Hinjawadi Maan Phase 3_...,Bhosari To Hinjawadi Maan Phase 3,3641

In [ ]:
# save csv
routeGroups.to_csv('assets/routes.csv')